tensorflow==2.1
ffmpeg-python pillow
streamlit
torch 
pandas
ftfy 
regex 
tqdm
opencv-python
tensorflow --upgrade --force-reinstall
git clone https://git.ffmpeg.org/ffmpeg.git
-e git+https://github.com/soCzech/TransNetV2.git
-e git+https://github.com/openai/CLIP.git
-U sentence-transformers
-e git+https://github.com/soCzech/TransNetV2#movie_camera-use-it-on-your-video
